.addcrash{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .addcrash_left{
        width: 48%;
        height: 640px;
        overflow: auto;
        padding-right: 20px;
        &::-webkit-scrollbar{
            width: 8px;
            background: #2B334F;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb{
            background: #F5C257;
            border-radius: 4px;
        }
        .addcrash_left_box{
            height: max-content;
            width: 100%;
            .crashdetal{
                width: 100%;
                padding-left: 10px;
                .crashedbtn {
                    width: 100%;
                    height: 70px;
                    font-family: Lato;
                    font-style: normal;
                    margin-bottom: 25px;
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 26px;
                    color: #000000;
                    position: relative;
                    z-index: 1;
                    transition: all 0.5s;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 0px #BBC7DD, inset 0px 4px 0px rgba(255, 255, 255, 0.25);
                    border-radius: 10px;
                    &::before{
                        width: 37px;
                        content: "";
                        background: #2B334F;
                        border-radius: 10px;
                        position: absolute;
                        transition: all 0.5s;
                        z-index: -1;
                        left: 0px;
                        opacity: 0;
                        top: 0;
                        height: 100%;
                    }
                    &::after{
                        width: 37px;
                        content: "";
                        background: #fff;
                        border-radius: 10px;
                        position: absolute;
                        z-index: 1;
                        left: 10px;
                        top: 0;
                        height: 100%;
                    }
                    &:hover{
                        &::before{
                            opacity: 1;
                        }
                    }
                }
                .active{
                    background: #F5C257;
                    box-shadow: 0px 4px 0px #BF9C51, inset 0px 4px 0px rgba(255, 255, 255, 0.25);
                    border-radius: 10px;
                    color: #FFFFFF;
                    &::after{
                        background: #F5C257;
                    }
                    &::before{
                        opacity: 1;
                    }
                }
            }
            .addnewcrashdetal{

                svg{

                }
            }
        }
    }
    .addcrash_right{
        width: 48%;
        .addcrash_right_title{

            h4{

            }
            .addcrash_right_title_btn{

                button{

                }
            }
        }
        .crashedinfo{

            p{

            }
        }
        .crashedimg{

            label{

                input{

                }
                img{

                }
            }
        }
    }
}