.carviewslider{
    margin-top: 24px;
    .carviewslider_top{
        width: 100%;
        margin-bottom: 30px;
        background: #FFFFFF;
        box-shadow: 10px 0px 50px 10px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        .mySwiper{
            width: 100%;
            padding-bottom: 96px;
            .swiper-wrapper{
                background: #2B334F;
                border-radius: 20px;
            }
            .swiper-slide{
                position: relative;
                text-align: center;
                button{
                    padding: 22px 0 26px;
                    width: 100%;
                    border-radius: 20px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    color: #FFFFFF;
                }
                span{
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    padding-top: 13px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::before{
                        content: "";
                        position: relative;
                        width: 8px;
                        height: 8px;
                        margin-right: 9px;
                        background: #2B334F;
                        border-radius: 50%;
                    }
                }
                span[data-name="crashed"]{
                    &::before{
                        background: #F5C257;
                    }
                }
            }
            .swiper-slide-active{
                button{
                    background: #F5C257;
                    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.07);
                    border-radius: 20px;
                }
            }
        }
    }
    .carviewslider_buttons{
        button{
            &:first-child{

            }
            &:last-child{

            }
        }
    }
}