.carviewslider{
    margin-top: 24px;
    .carviewslider_top{
        width: 100%;
        margin-bottom: 30px;
        background: #FFFFFF;
        box-shadow: 10px 0px 50px 10px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        .mySwiper{
            width: 100%;
            background: #2B334F;
            border-radius: 20px;
            .swiper-slide{
                padding: 22px 0 26px;
            }
        }
    }
    .carviewslider_buttons{
        button{
            &:first-child{

            }
            &:last-child{

            }
        }
    }
}