.addcrashmodal{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 55555;
    left: 0;
    top: 0;
    background: rgba(43, 51, 79, 0.86);
    display: flex;
    justify-content: center;
    align-items: center;
    .addcrashmodal_cont{
        padding: 30px;
        background: #FFFFFF;
        box-shadow: 10px 0px 50px 10px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        .clousmodal{
            position: absolute;
            right: -44px;
            top: -16px;
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            width: 100%;
            h4{
                font-family: Lato;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: #000000;  
                margin-bottom: 30px;              
            }
            .textinp{
                display: block;
                max-width: 342px;
                text-align: center;
                width: 100%;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
                input,textarea{
                    border: 1px solid #C4C4C4;
                    box-sizing: border-box;
                    border-radius: 10px;
                    width: 100%;
                    margin-top: 20px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 22px;
                    color: #000000;
                    padding: 0 16px;
                    height: 46px;
                }
                textarea{
                    resize: none;
                    padding: 16px;
                    height: 128px;
                }
            }
        }
    }
}