.workingcond{
    width: 100%;
    padding: 0;
    p{
        margin: 0;
    }
    form{
        width: 100%;
        .workingcond_box{
            width: 100%;
            margin-top: 44px;
        }
    }
}